.rightHand {
  transform: scaleX(-1);
  width: auto;
  height: auto;
}

.leftHand{
  width: auto;
  height: auto;
}

.row {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.col {
  position: relative;
  bottom: 0;
}
