body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  background-image: url("../images/background-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  filter: alpha(opacity=85);
  border-radius: 24px;
  background: #146cfa;
  text-align: center;
  zoom: 1;
  opacity: 0.85;
  width: 400px;
}

.container button[type="card"] {
  padding: 10px;
  display: inline-block;
  width: 50%;
  cursor: pointer;
  border: transparent;
}

button[name="loginClicked"] {
  color: black;
  border-radius: 24px 0 0 0;
  background-color: yellow;
  outline: none;
}

button[name="registerClicked"] {
  color: black;
  border-radius: 0 24px 0 0;
  background-color: yellow;
  outline: none;
}

button[name="register"]{
  border-radius: 0 24px 0 0;
  background: #146cfa;
  color: white;
  transform: translate(0%, -20%);
}

button[name="login"]{
  border-radius: 24px 0 0 0;
  background: #146cfa;
  color: white;
  transform: translate(0%, -20%);
}

.box {
  padding: 40px;
}

.box input[type="text"],
.box input[type="password"] {
  background: transparent;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

::placeholder {
  color: lightgray;
  opacity: 1;
}

::-ms-input-placeholder {
  color: lightgray;
}

:-ms-input-placeholder {
  color: lightgray;
}

.box h1 {
  color: white;
  font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  background: always;
  border-color: yellow;
}

.box button[type="submit"] {
  background: transparent;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.container button[type="submit"]:hover {
  background-color: yellow;
  color: black;
}
