* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f5f9;
}

.navigation {
  top:0;
  display: flex;
  position: fixed;
  transition: transform 0.3s 0.1s ease-in-out;
  transform: translateX(-250px);
  height: 100vh;
  width: 250px;
  list-style: none;
  margin-top: 57px;
  z-index: 98;
}

.navigation--active {
  transform: translateX(0px);
}

.navigation .sidebar {
  width: 200px;
  height: 100%;
  background: #146cfa;
  padding: 30px 0px;
}

.navigation .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  color: #d7d2eb;
  display: block;
  cursor: pointer;
}

.navigation .sidebar ul li:hover {
  background-color: #005bf0;
}

i {
  margin-right: 10px;
}
