.chartContainer {
  width: 100%;
  overflow: hidden; /* will contain if #first is longer than #second */
}

.chartStats {
  width: 300px;
  float: left; /* add this */
}
.textStats {
  overflow: hidden; /* if you don't want #second to wrap below #first */
  margin-top: 150px;
}
