.register-form {
  background: #005bf0;
  opacity: 90%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 70px;
  border-radius: 50px;
  color: white;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.register-heading {
  text-align: center;
  margin-top: 20px;
}
.modal-content {
  background-image: url("../../images/placeholder.jpg");
  border-radius: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.38);
}
.btn-primary {
  width: 100%;
}

.register-form h1 {
  text-align: center;
  margin-bottom: 5%;
}

.form-group input:focus {
  background-color: lightgray;
  border: 3px solid #003da0;
}

.modal-slide {
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
